.table-border {
    border: 1px solid rgba(121, 121, 121, 0.68);
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid rgba(121, 121, 121, 0.68);
}
.bookImage-size {
    height:160px;
}
.handCursor{
    cursor: pointer;
}