<div class="container">
    <div class="row" ng-repeat="list in bookCtrl.list">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="header-page"><h4>{{list.list_name}}</h4></span>
                </div>
            </div>
            <div class="row" ng-repeat="b in list.books">
                <div class="col-md-2">
                    <img ng-src="{{b.book_image}}" alt="{{b.title}}" class="bookImage-size">
                    
                </div>
                <div class="col-md-10 caption">
                <h3 ng-click="bookCtrl.GetReviews(b.title)" class="handCursor">
                    {{b.title}} <small>by {{b.author}}</small></h3>
                <p></p>
                <p>{{b.description}}</p>
                <p>Rank: {{b.rank}}</p>
                
                <p>ISBN: {{b.primary_isbn13}}</p>
                <p>Publisher: {{b.publisher}}</p>
                
                </div>
            </div>
        </div>
      </div>
</div>