<div class="container">
    <div class="row" ng-repeat="b in bookCtrl.list">
        <div class="col-md-2">
          <img ng-src="{{b.book_image}}" alt="" class="bookImage-size">
        </div>
            <div class="col-md-10 caption">
              <h3 ng-click="bookCtrl.GetReviews(b.title)" class="handCursor">
                  {{b.title}}</h3>
              <p>{{b.author}}</p>
              <p>{{b.description}}</p>
              <hr/>
            </div>
        </div>
      </div>
    </div>