
    <div class="row">
        <div class="col-md-8">
            <strong>Reviews of {{getReviewCtrl.title}}</strong>
        </div>
        <div class="col-md-2">
                <a ui-sref="booklist">Back</a>
        </div>
    </div>
    <hr/>
    <div ng-show="getReviewCtrl.reviews!=''" class="panel panel-default">
        <div class="panel-body">
            {{getReviewCtrl.reviews.critic_reviews.length}} review(s)
        </div>
    </div>
<div ng-repeat="r in getReviewCtrl.reviews.critic_reviews">
    
    <p>{{r.snippet}}</p>
    <p>source: {{r.source}}</p>
    
    <p>
        <img ng-src="{{r.smiley_or_sad}}" alt="">
        rating: {{r.star_rating}}
    </p>
    <br/>
    <hr/>
</div>

<div ng-hide="getReviewCtrl.reviews!=''" class="panel panel-default">
        <div class="panel-body bg-info">
          No reviews found.
        </div>
</div>