<div class="page-header">
    <h2> Reviews of <span>{{getReviewCtrl.title}}</span>
    
        <small><a ui-sref="booklist">Back</a></small></h2>
    
</div>
<div ng-repeat="r in getReviewCtrl.reviews.critic_reviews">
    <p>{{r.snippet}}</p>
    <p>source: {{r.source}}</p>
    <p>rating: {{r.star_rating}}</p>
    <br/>
    <hr/>
</div>

<div ng-show="getReviewCtrl.reviews==''" class="panel panel-default">
        <div class="panel-body">
          No reviews found.
        </div>
</div>